body {
    background-image: url("ball.jpg");
    font-family: 'Noto Serif JP', sans-serif;
}

h2 {
    font-size: 45px;
    text-align: center;
    padding: 20px;
}

#inputTextArea {
    padding: 10px;
    border-radius: 5px;
    border: 1px black solid;
    box-shadow: 1px 1px 1px gray;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-family: 'Noto Serif JP', sans-serif;
}

#outputTextArea {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 40px;
    border: 1px black solid;
    max-width: 11%;
    height: 19%;
    background-color: white;
    box-shadow: 1px 1px 1px gray;
    border-radius: 5px;
    font-family: 'Noto Serif JP', sans-serif;
    text-align: center;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#hungButton, #gaelButton, #finnButton {
    padding: 8px;
    margin: 10px;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 2em;
    font-weight: 300;
    background-color:  #D93410;
}
