body {
    background-color: turquoise;
}

h2 {
    font-size: 45px;
    text-align: center;
    padding: 20px;
}

#englishTranslation {
    padding: 10px;
    border-radius: 5px;
    border: 1px black solid;
    box-shadow: 1px 1px 1px gray;
    margin: auto;
    align-content: center;
}

textArea {
    display: block;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.hungButton {
    padding: auto;
    margin: 20px;
}

.gaelButton {
    padding: auto;
    margin: 20px;   
}

.finnButton {
    padding: auto;
    margin: 20px;
}